#!/bin/bash
# QNAP QPKG Configuration File

QPKG_NAME="IP-CSS"
QPKG_VERSION="0.3.0"
QPKG_SUMMARY="IP Camera Surveillance System"
QPKG_DESC="Professional video surveillance system with AI analytics for QNAP NAS"
QPKG_AUTHOR="NLP-Core-Team"
QPKG_URL="https://www.ip-css.com"
QPKG_INSTALL_VOL="yes"
QPKG_SERVICE_PROGRAM="ip-css.sh"
QPKG_WEB_PORT="8080"
QPKG_WEB_PORT_SSL="8443"
QPKG_WEB_URL="/css"
QPKG_DISPLAY_NAME="IP-CSS"
QPKG_PACKAGE_FILE="IP-CSS_0.3.0_QNAP.qpkg"
QPKG_INSTALL_MSG="Thank you for installing IP-CSS!

IP-CSS is now installed on your QNAP NAS.

Access the web interface at:
http://[NAS-IP]:8080

For more information, visit: https://www.ip-css.com
"
QPKG_UNINSTALL_MSG="IP-CSS has been uninstalled.

Your configuration and recordings have been preserved in:
$(/sbin/getcfg SHARE_DEF defInstall -f /etc/config/def_share.cfg)/IP-CSS

To completely remove all data, manually delete this folder.
"
QPKG_USE_BOOT_START="1"
QPKG_FORCE_INSTALLED_CHECK="yes"
QPKG_RC_NUM="120"
